/*easyui mian*/
#west {border:0px;}
.layout-panel-west .panel-header{height:30px; width:220px; padding-left:5px;color:#777;background:#f9fafc;border:#f9fafc}
.layout-panel-west .panel-header .panel-title{height:25px;line-height:25px;padding-left:15px;color:#777}
#west .tree-icon{margin-top: 9px;}
#west .tree-hit{margin-top: 7px;}
#west .tree-node{height: 35px;line-height:30px;padding-left:20px;}
#west .tree-title{line-height: 35px;color:#444; padding-left:7px;}
#west .tree-file{background: url('');vertical-align: middle;overflow:auto;}
#west .tree-folder, .tree-folder-open{background: url('');line-height: 19px;}
#west .tree-node-selected{background: #e7eaec;color:#444}
#west .tree-node-hover{background: #e7eaec;color: #000000;}
#west .tree-node-hover .tree-title{color: #000000;}
#west .panel-header{padding-left: 20px;}
#west .panel-body{border: 0px;background: #f9fafc;}
#west .panel-icon{left: 14px;}
#west .panel-title{font-size: 12px;height: 30px;line-height: 30px;padding-left: 20px;}
#west .accordion{background: #F9FAFC;}
#west .accordion-body {border:0px;}
#west .accordion .accordion-header{background: #f9fafc;height: 30px;line-height: 30px;border:0px;color:#444;border-left:3px #F9FAFC solid;}
#west .accordion .accordion-header-selected{background: #e7eaec;border-left:3px #3c8dbc solid;}
#west .accordion .accordion-header:hover{background: #e7eaec;color: #000;border-left:3px #3c8dbc solid;}
#west .accordion .accordion-header-selected .panel-title{color:#444}
#west .accordion .accordion-header .panel-title:hover{color: #333;}
#west .layout-split-west{border-right: 3px solid #efefef;}
.tabs{padding-left:0px;}
.tabs-header{border-width: 0px;}
.tabs-icon{margin-top:-5px;left:14px;}
.tabs-panels{border-bottom: 0px;}
.tabs li a.tabs-inner{padding: 0 15px;}
#west .panel-header,#west .panel-body{border:0px}

.user-image {float: left;width: 30px;height: 30px;border-radius: 50%;margin-right: 10px;margin-top: -6px;}
.user-name {padding-top:3px;display:block; float: left;width:120px;overflow:hidden;font-family:Helvetica,Arial,Verdana}
.user-header{text-align:center; background:#3c8dbc; padding-top:20px;font-family:Helvetica,Arial,Verdana; color:#fff}
.user-header img{width:100px;height:100px;border-radius:50%}

.tabs li.tabs-selected a.tabs-inner{border-top-color: #3c8dbc;border-top-width: 3px;}
.banner{width: 100%;height: 50px;background: #3c8dbc;color: #fff;}
.banner .l-btn-text{margin:0px;}
.banner .webname{background:#367fa9;width: 215px; font-weight:bold; font-size: 20px;line-height: 25px; text-align:center; }
.panel-icon, .panel-tool {margin-top:-6px;}
/*easyui inner*/
.window{padding: 0;border-width: 3px 1px 1px 1px;border-top-color: #3c8dbc;box-shadow:1px 1px 50px rgba(0,0,0,.3);border-radius: 5px;-webkit-border-radius: 5px;}
.window .window-body{border-width:0px;}
.window .window-header .panel-tool{right: 12px;}
.window .window-header{border-color: #e7eaec;background:#f9f9f9;height:30px;}
.window .window-header .panel-icon{color: #444;left: 12px;font-weight: normal;font-size: 14px;}
.window .window-header .panel-with-icon{padding-left:30px;font-weight:normal;font-size:13px;}
.window .window-header .panel-icon, .window .window-header .panel-tool{margin-top:-8px;}
.window-proxy-mask, .window-mask{background:#D6D6D6;}
.datagrid-row{height:30px;}
.datagrid-row-selected{background: #e7eaec;color: #000;height: 30px;}
.datagrid-header-row{background: #f9f9f9;height:30px;padding:0 10px 0 10px;}
.datagrid-row-over, .datagrid-header td.datagrid-header-over{background: #e7eaec;}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{white-space: normal;padding:0 7px;}
/*btn*/

.bannerbtn {
 color:#fff;
 text-decoration:none;
 height:36px;
 padding:15px 10px 0 10px;
 line-height:36px;
}
.bannerbtn:hover{
    background: #367fa9;filter: none;
}
.endbtndiv {
    padding:8px 10px 8px 0px;text-align:right;
    background:#f9f9f9;border-top:1px solid #f0f0f0;
}
.l-btn-left {
     margin:5px;
      line-height:11px;
}
.btns,.btns:hover{color: #fff;border-color: #367fa9;background: #439dd1;width:60px;height:26px;}
a.btns:hover{background: #367fa9;filter: none;}

.btnc,.btnc:hover{color: #fff;border-color: #939391;background: #999;width:60px;height:26px;}
a.btnc:hover{background: #868484;filter: none;}



